body {
    font-family: 'Font Italiana', 'Kiwi Maru', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdc3c7;
  }
  
  
  header {
    background-color: #85C1E9;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    border-radius: 70px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #f0f3f4;
    font-size: x-large;
    float: left;
    padding: 0px 114px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
  }

  nav a:hover , nav a.active {
    background-color: #f0f3f4;
    border-radius: 50px;
    color: #85C1E9;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  nav .logo-text {
    font-size: x-large;
    margin-left: 10px;
  }
  
  nav .logo i {
    font-size: 28px;
    color: #f0f3f4;
  }

  #recipeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    list-style: none;
  }
  
  .recipeCards {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
  }
  
  .recipeCards .card-img-top {
    width: 97%;
    height: 200px; /* Adjust the desired height */
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  
  .recipeCards .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipeCards .card-text {
    font-size: 14px;
  }

a.viewButton{
    border-radius: 20px;
    background-color: #85C1E9;
}

a.viewButton:hover ,a.viewButton.active {
    background-color: #f2f2f2;
    color: #E74C3C;
}

.icon-container {
  display: flex; 
  justify-content: center; 
}

.icon-container i {
  margin: 0 20px;
  font-size: 30px;
}

.icon-info {
  margin-top: 5px;
}

.icon-number {
  font-size: 16px;
  font-weight: bold;
  color: #E74C3C;
  margin-right: 5px;
}

.icon-text {
  font-size: 14px;
  color: #000000;
}

#recipeFull {
  list-style: none;
}

.fullRecipeCard {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.div1 {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 20px; /* Increased margin bottom */
}

.div2,
.div3 {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 20px; /* Increased margin bottom */
}

.div2 {
  margin-right: 20px; /* Increased margin right */
}

.div1 img {
  width: 100%;
  height: 250px;
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.div p {
  text-align: center;
}

.commentSection {
  display: flex;
  flex-wrap: wrap;
  gap:20px; /* Add space between flex items */
}

.div4 {
  flex-basis: 45%; /* Adjust the width of div4 as needed */
  list-style-type: none;
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 20px;
}

.div4 li {
  list-style-type: disc; /* Change the list style for each comment */
}

.div5 {
  flex-basis: 45%; /* Adjust the width of the div as needed */
  list-style-type: none;
  background-color: #f2f2f2;
  border-radius: 40px;
  padding: 20px;
}

.div5 ul {
  list-style-type: none;
}

footer {
  background-color: #85C1E9;
  height: 25px;
  text-align: center;
  border-radius: 40px;
}

/* Media Queries */

/* Mobile */
@media (max-width: 767px) {
  header {
    padding: 5px; /* Decreased padding for mobile */
    border-radius: 50px; /* Adjusted border-radius for mobile */
  }

  nav a {
    padding: 0 20px; /* Adjusted padding for mobile */
  }

  .recipeCards .card-img-top {
    height: 150px; /* Adjusted height for mobile */
  }

  .div1 img {
    height: 200px; /* Adjusted height for mobile */
  }

  .div1,
  .div2,
  .div3 {
    flex-basis: 100%; /* Adjusted width for mobile */
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 7px; /* Adjusted padding for tablet */
  }

  nav a {
    padding: 0 40px; /* Adjusted padding for tablet */
  }

  .recipeCards .card-img-top {
    height: 180px; /* Adjusted height for tablet */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  header {
    padding: 15px; /* Adjusted padding for desktop */
  }

  nav a {
    padding: 0 60px; /* Adjusted padding for desktop */
  }

  .recipeCards .card-img-top {
    height: 220px; /* Adjusted height for desktop */
  }
}